* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;

    /* height: 100vh; */
    width: auto;

    height: 960px;
    /* width: 1440px; */

    /* width: 1541px; */
    /* height: 753px; */

    display: grid;
    place-content: center;

    background: hsl(0, 0%, 94%);
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    visibility: hidden;
}

.attribution a { 
    color: hsl(228, 45%, 44%);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    /* max-width: 840px; */
    max-height: 650px;
    width: 58.33vw;
    min-width: 344px;
    /* height: 67.71vh; */

    background: hsl(0, 10%, 100%);

    border-radius: 20px;
    border-bottom-right-radius: 25%;
}

.con1-div1 {
    /* width: 840px; */
    width: 58.33vw;
    height: 157px;

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: flex-start;

    gap: 1.7rem;

    border: none;
    /* border-bottom: 1px solid hsl(0, 0%, 86%); */

    padding: 60px 56px 0 56px;
}

.con1-middle{
    height: 95px;
    width: 58.33vw;
    width: 100%;

    padding: 0 56px 0 56px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.con1-middle-1,
.con1-middle-2 {
  height: 3rem;
  /* max-width: 630px; */
  /* min-width: 115px; */
  min-width: 90%;

  /* width: 100%; */
}

.con1-middle-1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;

  border-bottom: 2px solid hsl(0, 0%, 86%);
}

.con1-middle-2 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.con1-middle-3 {
    grid-column: 2 / 3;
    grid-row: 1 / 3;

    height: 6rem;
    width: 6rem;
    min-width: 10%;
}

.con1-div2 {
    min-height: 396px;
    /* min-width: 840px; */
    min-width: 58.33vw;

    font-size: 6rem;
    font-weight: 800;
    font-style: italic;

    display: flex;
    flex-direction: column;

    align-items: flex-start;
    justify-content: flex-start;

    padding: 12px 56px 0 56px;
}

.con1-div1-1,
.con1-div1-2,
.con1-div1-3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    /* margin-bottom: 2.3rem; */
}

.submitButton {
    width: 6rem;
    height: 6rem;

    background: url(./assets/images/icon-arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: hsl(259, 100%, 65%);
    border-radius: 50%;
    border: 2px solid hsl(259, 100%, 65%);
}

.submitButton:hover {
    background-color: hsl(0, 0%, 0%);
    border: 2px solid hsl(0, 0%, 0%);
}

.input--1,
.input--2,
.input--3 {
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;

    max-width: 157px;
    min-width: 88px;
    height: 70px;

    border-radius: 8px;
    border: 1px solid hsl(0, 0%, 86%);

    padding: 1rem;
    outline: none;

    width: 100%;

    /* margin-bottom: 46px; */
}

.input--1:hover,
.input--2:hover,
.input--3:hover {
    border: 1px solid hsl(259, 100%, 65%);
}

::placeholder {
    font-size: 2rem;
    font-weight: 700;
    color: hsl(0, 1%, 44%);
}

.span-1,
.span-2,
.span-3  {
    color: hsl(259, 100%, 65%);
    margin-right: 10px;
}

.con1-div1-1-1,
.con1-div1-2-1,
.con1-div1-3-1 {
    font-size: 0.9rem;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: hsl(0, 1%, 44%);

    margin-bottom: .5rem;
}

.con1-div1-1-3 {
    display: none;

    margin-top: 0.5rem;
    font-size: 0.8rem;
    font-weight: 400;
    font-style: italic;
    color: hsl(0, 100%, 67%);
}

.con1-div1-1-4 {
    display: none;

    margin-top: 0.5rem;
    font-size: 0.8rem;
    font-weight: 400;
    font-style: italic;
    color: hsl(0, 100%, 67%);
}

.con1-div2-1-1,
.con1-div2-2-1,
.con1-div2-3-1 {
    height: 6.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.con1-div1-1-3.warning {
    display: block;
}

.con1-div1-1-4.empty {
    display: block;
}

.warningDate {
    border: 1px solid hsl(0, 100%, 67%);
}

.PH:hover {
    border: 1px solid hsl(0, 100%, 67%);
}

.container-spacing {
    margin-bottom: 1.5rem;
}

.container-4-spacing {
    margin-bottom: 1rem;
}

.con1-div1-text {
    color: hsl(0, 100%, 67%);
}


@media (max-width: 950px) {
    .con1-middle {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .input--1,
    .input--2,
    .input--3 {
      font-size: 1.5rem;
    }

    ::placeholder {
        font-size: 1.5rem;
    }

    .con1-middle-1,
    .con1-middle-2 {
        width: 50%;
    }

    .con1-middle-4,
    .con1-middle-5 {
        height: 3rem;
        /* max-width: 630px; */
        /* min-width: 115px; */
    }

    .con1-middle-3{
        width: 4rem;
        height: 4rem;
    }

    .con1-middle-4 {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }

    .con1-middle-5 {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
    }

    .con1-div2 {
        min-height: 396px;
        /* min-width: 840px; */
        min-width: 58.33vw;
    
        font-size: 5.5rem;
        font-weight: 800;
        font-style: italic;
    
        padding: 12px 25px 0 25px;
    }
}

@media (max-width: 768px) {
    .input--1,
    .input--2,
    .input--3 {
      font-size: 1.2rem;
      max-width: 88px;
      height: 53px;
      padding: 0.5rem;
    }

    ::placeholder {
        font-size: 1.2rem;
    }

    .con1-middle-1,
    .con1-middle-2,
    .con1-middle-4,
    .con1-middle-5 {
        width: 100%; /* Set to 100% for screens smaller than 768px */
    }
}